In [7]:

import pandas as pd
with open('апр.txt', encoding='utf8') as ti:
    file = ti.readlines()
a1 = [json.loads(x) for x in file if 'index' not in x]
a2 = pd.DataFrame(a1)

In [8]:

wage = a2[["vacancy","income","region"]][a2["income"] != "не указан"].drop_duplicates().sort_values(by = 'income')
wage

,vacancy,income,region
1740,Координатор в тренинг-центр,до 40 000 руб.,Москва
1371,Младший специалист кадрового делопроизводства,до 41 000 руб.,Москва
1528,Тренер группы обучения,до 55 000 руб.,Нижний Новгород
1551,Тренер группы обучения,до 55 000 руб.,Липецк
1553,Тренер группы обучения,до 55 000 руб.,Тольятти
...,...,...,...
490,Руководитель группы по привлечению корпоративн...,от 90 000 руб.,Кемерово
491,Руководитель группы по привлечению корпоративн...,от 90 000 руб.,Калуга
492,Руководитель группы по привлечению корпоративн...,от 90 000 руб.,Саратов
1502,Руководитель группы по привлечению корпоративн...,от 90 000 руб.,Киров
767,Руководитель группы по привлечению корпоративн...,от 90 000 руб.,Липецк

In [9]:
wage["vacancy"].value_counts()

Агент по доставке продуктов Тинькофф          156
Представитель Тинькофф                        109
Консультант по работе с клиентами              48
Представитель Тинькофф Банка                   47
Специалист по развитию агентской сети          41
                                             ...
Менеджер в отдел входящих обращений             1
Менеджер по привлечению партнеров               1
Продавец-консультант в ТРЦ Золотой Вавилон      1
Оператор по проверке клиентов (офис)            1
Специалист                                      1
Name: vacancy, Length: 175, dtype: int64

In [10]:
!pip install pymorphy2
!pip install pymorphy2-dicts
!pip install DAWG-Python

Requirement already satisfied: pymorphy2 in c:\users\sofi\anaconda3\lib\site-packages (0.8)
Requirement already satisfied: pymorphy2-dicts<3.0,>=2.4 in c:\users\sofi\anaconda3\lib\site-packages (from pymorphy2) (2.4.393442.3710985)
Requirement already satisfied: dawg-python>=0.7 in c:\users\sofi\anaconda3\lib\site-packages (from pymorphy2) (0.7.2)
Requirement already satisfied: docopt>=0.6 in c:\users\sofi\anaconda3\lib\site-packages (from pymorphy2) (0.6.2)
Requirement already satisfied: pymorphy2-dicts in c:\users\sofi\anaconda3\lib\site-packages (2.4.393442.3710985)
Requirement already satisfied: DAWG-Python in c:\users\sofi\anaconda3\lib\site-packages (0.7.2)

In [11]:
import pandas as pd
import pymorphy2
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/data_stat/yandex-stat-q.csv"
a1 = pymorphy2.MorphAnalyzer()
a2 = pd.read_csv(url)
print("Провести анализ частоты запросов к сайту по версии Яндекс.Метрики:\n")
a2.head()

Провести анализ частоты запросов к сайту по версии Яндекс.Метрики:

,Поисковая фраза,Поисковая система,Визиты,Посетители,Отказы,Глубина просмотра,Время на сайте
0,Итого и средние,NaN,72394,57803,0.120328,1.298934,00:01:18
1,pycode.ru,Яндекс,2068,1225,0.093810,1.674565,00:01:38
2,холопов алексей васильевич,Яндекс,1240,467,0.082258,1.941129,00:03:53
3,золотое правило дидактики,Яндекс,778,751,0.082262,1.087404,00:00:41
4,золотое правило дидактики я.а коменского,Яндекс,743,724,0.068641,1.044415,00:00:31

In [12]:
from matplotlib import pyplot as plt
%matplotlib inline
a = [j for i, j in enumerate(a2["Поисковая фраза"].str.lower())]
lst = list(map(lambda x: x.split(), a))
b = [a1.parse(x)[0].normal_form for sl in lst for x in sl]
itog= pd.Series(b)
print("Определите статистику встречаемости отдельных слов в поисковых фразах:\n",itog.value_counts()[itog.value_counts()>1000])

Определите статистику встречаемости отдельных слов в поисковых фразах:
 тезис             6848
в                 6048
на                4974
конференция       4726
по                4234
научный           3992
как               3746
работа            3345
для               3093
и                 3080
информационный    3040
пример            2991
безопасность      2721
к                 2518
правило           1906
практика          1829
что               1730
доклад            1586
статья            1463
о                 1461
золотой           1442
отчёт             1344
дидактика         1148
кейс              1125
какой             1080
студент           1047
с                 1030
выступление       1005
dtype: int64